body {
  margin: 0;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* canvas blijft vaste breedte */
canvas {
  display: block;
  background: black;
}

/* BOX */
.container {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* BUTTON */
button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #70c5ce;
  color: white;
  cursor: pointer;
}

/* MENU */
#menuButton {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

#menu {
  position: absolute;
  left: -220px;
  width: 220px;
  height: 100%;
  background: #111;
  transition: 0.3s;
  padding-top: 60px;
}

#menu a {
  color: white;
  display: block;
  padding: 15px;
}
