body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial;
}

canvas {
  display: block;
  margin: 0 auto;
  background: black;
}

/* MENU */
#menuButton {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#menu {
  position: absolute;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #222;
  transition: 0.3s;
  padding-top: 60px;
}

#menu a {
  color: white;
  padding: 15px;
  display: block;
  text-decoration: none;
}

/* SKINS */
#skins {
  position: absolute;
  right: 10px;
  top: 10px;
}

#skins img {
  width: 40px;
  margin: 5px;
  cursor: pointer;
}

/* OVERLAY */
#overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 48px;
}
